---
parser: "babel-eslint"

extends:
  - "formidable/configurations/es6-node"

parserOptions:
  ecmaVersion: 6
  sourceType: "module"

rules:
  no-invalid-this: "off"
  func-style: "off"
  arrow-parens: "off"
  consistent-return: "off"
  space-before-function-paren:
    - "error"
    - anonymous: "always"
      named: "always"
  generator-star-spacing:
    - "error"
    - before: false
      after: true
  no-magic-numbers: "off"
  max-params:
    - "warn"
    - 5
  no-return-assign: "off"
  quotes:
    - "error"
    - "double"
    - "avoid-escape"
  no-unused-expressions: "off"
  prefer-arrow-callback: "off"
