extends:
  - "formidable/configurations/es5-browser"

rules:
  no-unused-expressions: "off"
  no-extra-parens: "off"
  no-unused-vars: "off"
  max-len: "off"
  valid-jsdoc: "off"
  no-return-assign: "off"
  func-style: "off"
  no-magic-numbers: "off"
  space-before-function-paren:
    - 2
    - anonymous: "always"
      named: "always"
