(function () {
  var cacheObj = null, cachedModule = {};
  if (window.localStorage) {
    cacheObj = (window.localStorage || {})["__interlock_cache:" + moduleHash];
    if (cacheObj) {
      cacheObj = JSON.parse(cacheObj);
      cachedModule[moduleHash] = {
        deps: cacheObj.deps,
        fn: new Function("require", "module", "exports", cacheObj.fnBody)
      };
      setTimeout(function () { r.load(cachedModule); }, 0);
      module.requested = true;
      return;
    }
  }
});
